.clients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    min-width: 350px;
    height: 100vh;
    margin: 2rem auto 0 auto;
    padding: 0 2rem;
}

.clients-container h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.outer {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    margin-top: 2rem;
}

.inner {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.22);
}

.left-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -75px;
    font-size: 42px;
    color: #CC1550;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.right-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -75px;
    font-size: 42px;
    color: #CC1550;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.selector {
    display: flex;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.dot {
    color: #CC1550;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
}

.dot:hover {
    transform: scale(1.3);
    color: white;
}

.left-arrow:hover, .right-arrow:hover {
    color: white;
}


@media only screen and (max-width:650px) {
    .clients-container {
        margin-top: -11.5rem;
        margin-bottom: 8rem;

    }

    .clients-container h1 {
        font-size: 1.5rem;
    }

    .outer {
        width: 240px;
        height: 250px;
        margin: 0 auto;
        position: relative;
        margin-top: 2rem;
    }
    
    .inner {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.22);
    }
    
    .left-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: -35px;
        font-size: 30px;
        color: #CC1550;
        z-index: 1;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .right-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: -35px;
        font-size: 30px;
        color: #CC1550;
        z-index: 1;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .selector {
        display: flex;
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2rem;
    }
    
    .dot {
        color: #CC1550;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        font-size: 2rem;
    }
}