.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    max-width: 1200px;
    min-width: 350px;
    width: 100vw;
    height: 100vh;
    margin: 2rem auto 0 auto;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home-text {
    font-size: 3rem;
    font-weight: 100;
    color: white;
    margin: 0 0 -3rem 4.5rem;
    padding: 0;
    text-align: center;
    margin-top: 2rem;
}

.home-text:nth-child(2){
    margin-bottom: -3.5rem;
    color: white;
}

.home-bigtext {
    font-size: 5.7rem;
    font-weight: 200;
    color: #CC1550;
    margin: 0 0 0 4.2rem;
    padding: 0;
    text-align: center;
    margin-top: 2rem;
}

.image-wrapper {
    position: absolute;
    right: 0;
}

.logo {
    animation: pulse 6.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4.5rem;
    margin-top: -.5rem;
}

.talk-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 4rem;
    background: linear-gradient(to right, #cc1550, #e22e2f);
    background-size: 400% 400%;
    animation: bg 2s ease infinite;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.talk-btn:hover {
    filter: drop-shadow(2px 2px 8px rgba(255, 255, 255, 0.42));

}

@keyframes bg {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 300;
    width: 100%;
    gap: .3rem;
    margin-top: .5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon {
    font-size: 1.8rem;
    transition: all 0.3s ease;
    color: white;
}

.icon:hover {
    color: #CC1550;
    transform: scale(1.05);
}

@media only screen and (max-width: 500px) {
    .hero-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        padding: 2rem 0;
        margin-bottom: -8rem;
    }
    
    .home-text {
        font-size: 2rem;
        color: white;
        margin: 0 0 -2.5rem 1rem;
        padding: 0;
        text-align: center;
        margin-top: 2rem;
    }
    
    .home-text:nth-child(2){
        margin-bottom: -3.25rem;
    }
    
    .home-bigtext {
        font-size: 4rem;
        margin-left: .7rem;
    }
    
    .image-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 4rem;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        animation: pulse 6.5s infinite;
        width: 300px;
        height: 300px;
    }
    
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.08);
        }
        100% {
            transform: scale(1);
        }
    }

    .texts {
        width: 100%;
        margin: 4rem auto 18rem auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: -.8rem auto;
    }
    
    .talk-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 1rem;
        width: 80%;
        max-width: 450px;
        min-width: 250px;
        height: 4rem;
        background: linear-gradient(to right, #cc1550, #e22e2f);
        background-size: 400% 400%;
        animation: bg 2s ease infinite;
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 1.1rem;
        font-weight: 300;
        margin-right: 1rem;
        margin: .25rem 1rem .25rem 0;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .social-media {
        width: 100%;
        margin-top: 4.55rem;
        margin-left: 2rem;
    }
    
    .icon {
        font-size: 1.5rem;
        transition: all 0.3s ease;
    }
    
    .icon:hover {
        color: #CC1550;
        transform: scale(1.05);
    }
    
}
