.linkspage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100vw;
    min-width: 325px;
    margin: 0 auto;
}

.animated {
    animation: flow 7s infinite;
}

@keyframes flow {
    0% {
        transform: scale(1.4) rotate(10deg);
    }
    50% {
        transform: scale(1.2) rotate(0deg);
    }
    100% {
        transform: scale(1.4) rotate(10deg);
    }
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 4rem;
}

.internal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.internal-wrapper h3 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: -1rem;
    background: -webkit-linear-gradient(#e29191, #706e6e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-title {
    font-size: 3.5rem;
    font-weight: 100;
    margin-left: .2rem;
    background: -webkit-linear-gradient(#e66465, #8d3d3d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-card, .link-card-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 205px;
    width: 455px;
    padding: 1rem;
    border-radius: 40px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 2.5rem;
    transition: all 0.3s;
}

.link-card:hover, .link-card-small:hover {
    transform: scale(1.05);
}

.card1 {
    background-image: url('/images/card1.jpg');
    background-size: contain;
    filter: contrast(80%) drop-shadow(4px 6px 8px rgba(0, 0, 0, 0.477));
    cursor: pointer;
}

.card2 {
    background-image: url('/images/card2.jpg');
    background-size: contain;
    filter: contrast(80%) drop-shadow(4px 6px 8px rgba(0, 0, 0, 0.477));
    cursor: pointer;
}

.card3 {
    background-image: url('/images/card3.jpg');
    background-size: contain;
    filter: contrast(80%) drop-shadow(4px 6px 8px rgba(0, 0, 0, 0.477));
    cursor: pointer;
}

.card-contact {
    background-image: url('/images/card-contact.jpg');
    filter: contrast(80%) drop-shadow(2px -2px 15px rgba(41, 219, 127, 0.563));
    margin-top: 1rem;
    cursor: pointer;
}


.link-card-small {
    height: 105px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.link-card-title, .link-card-sub {
    font-size: 1.8rem;
    margin-top: -1.5rem;
    margin-left: .5rem;
    font-weight: 100;
    background: -webkit-linear-gradient(#e66465, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(4px 6px 8px rgb(0, 0, 0));
}

.link-card-sub {
    font-size: 2.8rem;
    margin-top: -.5rem;
    margin-left: .2rem;
    background: -webkit-linear-gradient(#e97979, #e94040);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-card-contact {
    font-size: 1.8rem;
    margin-left: 3rem;
    font-weight: 100;
    background: -webkit-linear-gradient(#e8eee6, #82c171);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(4px 6px 8px rgb(15, 15, 15));
}

.footer-links {
    height: 80px;
    width: 100%;
    background-color: rgb(23, 23, 23);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width:500px) {

    .linkslogo {
        height: 300px;
        width: 300px;
   } 
    
    .link-card, .link-card-small {
        height: 150px;
        width: 100%;
        min-width: 305px;
        margin-bottom: 1.5rem;
    }
    
    .card-contact {
        margin-top: .5rem;
    }
    
    .link-card-small {
        height: 85px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }

    .card-contact {
        background-image: url('/images/card-contact.jpg');
        filter: contrast(80%) drop-shadow(2px -2px 15px rgba(41, 219, 127, 0.563));
        margin-top: 1rem;
        cursor: pointer;
        background-position: 90%;
        background-size: contain;
    }
    
    .link-card-title, .link-card-sub {
        font-size: 1.5rem;
        margin-top: -1.5rem;
        margin-left: 0;
    }
    
    .link-card-sub {
        font-size: 1.8rem;
        margin-top: -.5rem;
        margin-left: -.1rem;
    }
    
    .link-card-contact {
        font-size: 1.3rem;
        margin-left: .5rem;
    }
    
    .footer-links {
        font-size: 0.5rem;
    }

    .internal-wrapper h3 {
        font-size: 1.2rem;
    }
}
