.navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2rem;
    background-color: none;
    height: 3rem;
    z-index: 100;
    background-color: rgba(168, 97, 125, 0.18);
    box-shadow: 0 8px 32px 0  rgba(168, 97, 125, 0.18);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.link:hover {
    color: #f5f5f5;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 500px) {
    .navbar-container {
        justify-content: center;
        padding: 1rem;
        gap: 1.2rem;
    }

    .link {
        font-size: 0.7rem;
    }
    
}