.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    min-width: 350px;
    height: 85vh;
    margin-top: 2rem;
    margin: 6rem auto;
    padding: 0 2rem;
}

.services-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
    font-size: 1.3rem;
    color: white;
}

#services-pillars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    background-color: #CC1550;
    padding: .5rem 0;
    border-radius: 8px;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
    gap: .75rem;
}

@media only screen and (max-width: 500px) {
    .services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        height: 85vh;
        margin-top: 2rem;
        margin: 6rem auto;
        padding: 0 2rem;
    }
    
    .services-title {
        font-size: 1.5rem;
    }
    
    .services-text {
        margin: 1rem auto;
        font-size: 1rem;
    }
    
    #services-pillars {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 450px;
        margin: 0 auto;
        width: 100%;
        font-size: 1rem;
        color: white;
        background-color: #CC1550;
        padding: .3rem;
        border-radius: 8px;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        margin: 2rem auto;
        padding: 0 2rem;
        gap: .75rem;
    }
}
